header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:30px 80px;

    border-bottom:8px solid var(--green);

}

.logo img{

    width:100px;

}

nav{

    display:flex;

    gap:50px;

}

nav a{

    font-size:1.2rem;

    transition:.3s;

}

nav a:hover{

    color:white;

}
